@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*Set useful variables - scheme colors and fonts*/
    --font-title: Rosarivo, "rosarivo", cursive;
    --font-text: Noto, "noto serif", serif;

    --color-primary: #f9e9cf;
    --color-secondary: #207c44;
    --color-tertiary: #204c74;
}

/*General styling*/
body {
    font-family: var(--font-text);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    max-width: 800px;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--color-secondary);
}

.hide {
    display: none;
}

/*These two classes allow for a fieldset appearance using sections*/
.section-field {
    border: 2px groove threedface;
    padding: 1em;
    margin-top: .75em;
}

.section-label {
    float: left;
    margin: -1.7em 0 0;
    padding: 0 .5em;
    background: var(--color-primary);
    font-size: 1em;
    font-weight: normal;
}

/*Header*/
#header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100; 
}

.header-content {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: var(--color-tertiary); 
    color: white;
    height: 5%;
}

.logo {
    display: flex;
    justify-content: center;
    margin: auto;
}

.logo a {
    color: white;
}

/* Potential Hamburger Menu if sitenav grows unwieldy
#menubtn {
    border: 0;
    background: none;
    background-color: var(--color-tertiary);
    color: white;
    font-size: 1.5em;
    position: fixed;
    right: .5%;
    top: 0;
    z-index: 100;
}
*/

#sitenav {
    z-index: 99;
}

#sitenav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

#sitenav li {
    display: inline-block;
    text-align: justify;
    padding: 0 10%;
}

#sitenav a {
    color: white;
}

/*Footer*/
#footer {
    width: 100%;
    margin-top: auto;
    font-size: small;
    text-align: center;
}

/*Main page*/
.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: var(--font-title);
}

.site-desc {
}

@media screen and (min-width: 500px) {

}

/*Adventurer List*/
.adventurers-list {
    list-style: none;
}

.adventurer-card {
    border: 2px groove;
    padding: .51em;
    margin: .5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;        
}

.adventurer-name {
    grid-column: 1 / 3;
    text-align: center;
}

.adventurer-background {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.adventurer-loot {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}

.adventurer-death {
    grid-column: 1 / 2;
    grid-row: 4 / 6
}

.adventurer-buttons {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.loot-list {
    list-style: none;
    padding: 0;
}

.adventurer-buttons {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
}

.adventurer-buttons * {
    background-color: var(--color-tertiary);
    font: var(--font-title);
    color: white;
    border: none;
    padding: 5%;
    margin: 0 10%;
}

.adventurer-details {
    grid-column: 1 / 2;
}

.adventurer-delete {
    grid-column: 2 / 3;
}